*{
    margin:0;
    box-sizing: border-box; 
    font-family: sans-serif;
    background-color:  black;
    color:    purple;
    padding : 0%;
    justify-content:center;
    align-items: center;
}
 
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 15px;
    border-radius: 30px;
    display: grid;
    background-color:    black;
    box-shadow: 6px 6px 10px   rgb(164, 169, 243),
    -6px -6px 10px rgba(255,255,255,0.6);
    grid-template-columns: repeat(5,70px);
}
input{
    grid-column: span 5;
    height: 70px;
    width: 20rem;
    background-color:   black;
    box-shadow: inset 6px 6px 10px   rgb(164, 169, 243),
    inset -6px -6px 10px rgba(255,255,255,0.6);
    border : none;
    border-radius: 30px;
    color:  purple;
    font-size: 28px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px;
}
button{
    height: 48px;
    width: 48px;
    background-color: black;
    box-shadow: 6px 6px 10px rgb(164, 169, 243),
    -6px -6px 10px rgba(255,255,255,0.6);
    border: none;
    border-radius: 20px;
    margin: 8px;
    font-size: 16px;
}
button:hover{
    transform: translateY(-2px);
    background-color: rgb(20, 20, 20);
}
button :active :focus{
    transform: translateY(2px);
    box-shadow: inset 6px 6px 10px rgb(164, 169, 243),
    inset -6px -6px 10px rgba(255,255,255,0.6);
}
.equal{
    background-color: rgb(10, 10, 60);
}
.ac_button{
    color : red;
}